html {
    margin: -10px;
}

header {
    background-color: black;
}

.header-middle {
    display: flex;
    justify-content: space-between
}

.search-bar {
    background-color: black;
    padding:5px;
    border-radius: 5px;
    margin-right: 180px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    border: 1px solid white; 
    padding: 8px;
    width: 250px;
    height: 25px;

    
}
.search-icon {
    padding:8px;
    cursor: pointer;
    margin-top: 3px;
}

#searchInput {
    
    background-color: black;
    color: white;
    width: 120%;
    border: none;
    height: 150%;

}

#searchInput::placeholder {
    color: white-smoke;
    opacity: 1;
    font-weight: bold;
    font-size: 110%;
}

.usc-logo img {
    margin-left: 180px;
}

.top-nav {
    text-align: right;
}

.top-nav ul {
    display: flex;
    list-style: none;
    justify-content: flex-end;
    margin: 0;
}

.top-nav li {
    padding: 5px;
}

.header-red {
    background-color: #73000A;
    padding: 3px;
    height: 40px;
}

.header-red h2 {
    color: #FFFFFF;
    margin-left: 180px;
    position: relative;
    top: -13px;
}

.main-content {
    display:flex;
    margin-left: 180px;
}

.top-nav {
    margin-right: 100px;
}

.top-nav a {
    color: white;
    text-decoration: none;
    font-size: 10px;
    margin-top: 10px;
}
.top-nav .parent-li {
    margin-right: 20px;
}



/* Left Side Nav */
.left-block {
    margin-right: 20px;
    width: 75%;
    height: 100%;
}

.main-nav {
    margin-left: 15px;
}

.main-nav ul {
    list-style: none;
    padding: 0;
}

.main-nav ul ul {
    margin-left: 10px
}

.main-nav li {
    border-top: 1px solid gray;
    padding: 7px;
    
}

.main-nav a {
    text-decoration: none;
    padding: 3px;
    color: black;
}

.main-nav-1, .main-nav-3 {
    font-weight: bold;
}

.main-nav-1 {
    font-size: 18px;
}

.main-nav-2 {
    font-weight: normal;
    border-left: 2px solid #C7C7C7;
    font-size: 15px;
}

.left-block p {
    text-align: right;
    color: black;
    font-weight: bold;
    font-size: 10px;
}

.my-cec {
    text-align: right;
    font-size: 10px;
}

.my-cec a {
    color: black;
    text-decoration: none;
    font-weight: bold;
}

/* Right Top Section*/

.right-top {
    align-items: center;
    border-bottom: 1px solid #C7C7C7;
}

.right-top h2 {
    color: #73000A;
    margin-bottom: -10px;
}

.right-top img {
    padding: 30px;
    margin-bottom: -40px;
}

.right-top h2, p {
    margin-left: 30px;
}

.right-top p {
    font-size: 20px;
    margin-right: 150px;
    letter-spacing: 200%;
}

.right-top p strong {
    color: #73000A;
    text-decoration:underline
}



.highlight1,
.highlight2,
.highlight3,
.highlight4 {
    display:flex;
    border-bottom: 1px solid #C7C7C7;
    padding: 7px;
}

.highlight5 {
    display:flex;
    padding:7px;
}

.row1-text h2 {
    color: #73000A;
    font-size: 18px;
    font-weight: bold;
    margin-left: 20px;
}

.row1-text p {
    color: black;
}



.department-highlights {
    color:#73000A;
    font-size: 20px;
    margin-left: 20px;
}


/* Boxes */
.box1 {
    height:250x;
    width: 250px;
    border: 1px solid #C7C7C7;
    border-left: 5px solid #73000A;
    margin-left: 15px;
}


.box1-content,
.box2-content h3 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #5C5C5C;
    font-size: 12px;
    font-weight: 900;
    margin-left: 10px;
    
}

.box1-content h2 {
    font-family: 'Times New Roman', Times, serif;
    color:#73000A;
    font-size:20px;
    margin-top: -12px;
}

.box1 p {
    margin-left: 8px;
    margin-top: -10px;
    font-family: Arial, Helvetica, sans-serif;
}

.number {
    font-size: 32px;
    color:#73000A;
    font-weight: 900;
    margin-left: 15px;
    margin-top: 0px;
    
}

.right-bottom {
    display: flex;
}

.row1 {
    width: 80%;
}
.row2 {
    width: 50%;
}

.box2 {
    background-color: #ECECEC;
    margin-top: 15px;
    height:535px;
    width: 250px;
    border: 1px solid #C7C7C7;
    border-left: 5px solid #73000A;
    margin-left: 15px;
}

.box2-content h2, h4 {
    color: #73000A;
    font-family:'Times New Roman', Times, serif;
}

.box2-content h4 {
    margin-left: 10px;
    margin-bottom: 5px;
}


.box2-content h3, h2, p {
    margin-left: 10px;
}

.box2-content h3 {
    font-size: 13px;
    margin-bottom: 2px;
}

.box2-content h2  {
    margin-top: 0;
}

/* Typography */
body {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, Impact;
}

.csce-nav a {
    font-weight: bold;
    color: #73000A;
}

.departments-nav a {
    font-weight: bold;
}



/* Footer */ 
.footer-1 {
    display:flex;
    background-color: #ECECEC;
    height: 60px;
    width: 100%;
    justify-content: space-between;
}



.footer-1-text h2 {
    margin-left: 80px;
}

.footer-1-links ul {
    margin-right: 80px;
    list-style: none;
}
.footer-1-links li {
    display: inline-block;
    padding: 5px;
    font-size: 90%;
}

.footer-1-links a {
    color: black;
    text-decoration: none;
    font-weight: bold;


}

.footer-1,
.footer-2,
.footer-3 {
    overflow: hidden;

}


.footer-2 {
    background-color:#73000A;
    height: 390px;
    width:100%;
}
.footer-2-top,
.footer-2-bottom {
    display:flex;
    margin-left: 60px;
    margin-right: 60px;
}



.footer-2-bottom {
    justify-content:flex-start
}

.footer-2-top {
    padding: 30px;
    justify-content: space-between;

}
.footer-2-socials {
    display: flex;
    flex-direction:row;
}

.footer-2-socials img {
    padding: 10px;
    padding-right: 20px;
    cursor:pointer;
}

.footer-2-bottom-col1-links,
.footer-2-col2-links,
.footer-2-bottom-col3-links{
    display: flex;
    
}

.footer-2-bottom-col3-links {
    flex-direction:column;
}

.footer-2-bottom-col1-links ul,
.footer-2-col2-links ul,
.footer-2-bottom-col3-links ul {
    list-style: none;
}

.footer-2-bottom-col1-links a,
.footer-2-col2-links a,
.footer-2-bottom-col3-links a {
    color: white;
    text-decoration: none;
}

.footer-2-bottom-text h3 {
    color:white;
    margin-bottom: -10px;
    text-align: center;
    border-bottom: 1px solid white;
}

.footer-3 {
    background-color: #000000;
    height: 45px;
    width: 100%;
}
.footer-3 ul {
    display: flex;
    justify-content:flex-start;
    margin-top: 0;
    border-top: 1px solid white;
}

.footer-3 li {
    margin-top: 10px;
    border-right: 1px solid white;
    padding-right: 25px;
    padding-left: 25px;
}


.footer-3 a {
    color: white;
    text-decoration: none;
    font-size: 70%;
}


@media (max-width: 800px) {
    .left-block {
        display: none;
    }
    .main-content {
        margin-left: 0;
    }
}