/* Stylesheet for Assignment 7 */
/* By Ciaran O'Neill */

body {
    background-color: maroon;
    text-align: center;
}

body h2, h1 {
    color: white;
}



.change-image,
.rotate-image,
.stars {
    height: 500px;
    width: 300px;
    background-color: lightcoral;
    word-wrap: break-word;
    overflow: auto;
    box-sizing: border-box;
    border: 1px solid white;

}

#imageSlider {
    width: 80%;
    margin: 20px auto;
}

.stars img {
    width: 50px; /* Example size, adjust as needed */
    height: auto;
    margin: 5px;
}


@media (min-width: 700px) {


    .content-container {
        display: flex;
        flex-direction: row;
        justify-content:space-evenly;
    }
}

/* Mobile styles */
@media (max-width: 699px) {
    .change-image,
    .rotate-image {
        width: 100%; /* Take full width of the screen */
        height: auto; /* Adjust height as needed */
        margin: 0 auto; /* Center the columns if needed */
        padding: 10px; /* Optional: Add some padding */
    }
    
    .stars {
        width: 100%; /* Take full width of the screen */
        height: 500px; /* Adjust height as needed */
        margin: 0 auto; /* Center the columns if needed */
        padding: 10px; /* Optional: Add some padding */
    }

    #imageSlider {
        width: 90%; /* Adjust the slider width to fit the container */
    }
    
    .stars img {
        width: 30px; /* Adjust star image size if needed */
        height: auto;
        margin: 3px;
    }
}
