/* Structure */
#main-header {
    background-color: lightgoldenrodyellow;
}

.links {
    border-bottom: 2px solid lightgoldenrodyellow;
}

.links h2 {
    margin-left: 10px;
}

.links li {
    margin-bottom: 5px;
}

.ideas {
    margin-left: 40px;
}

.top-container {
    border-bottom: 2px solid lightgoldenrodyellow;
    background-color: rgb(154, 253, 220);
    margin-bottom: -25px;
}

.top-container img,
.bottom-container img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    
}



.bottom-container {
    background-color: rgb(109, 95, 229);
}



/* Navigation */
#main-nav ul {
    padding-left: 0;
}

#main-nav li {
    list-style-type: none;
    padding: 5px;
    background-color: lightgreen;
    border-bottom: 1px solid lightgoldenrodyellow;
}

#main-nav a {
    text-decoration: none;
    color: black;
}

/* Typography */
body {
    font-family: Arial, Helvetica, sans-serif;
}

#main-header h1 {
    text-align: center;
}

.links ul {
    list-style-type: none;
}

.bottom-container h2,
.bottom-container p {
    text-align: center;
}

/* Larger Resolutions */
@media (min-width: 900px) {
    #main-nav ul,
    .top-container {
        display: flex;
        justify-content: flex-start;
    }

    .bottom-container {
        display: flex;
        justify-content: space-between;
        padding: 10px;
    }

    #main-nav li {
        flex: 1;
    }

    .links {
        flex: 0.7;
        border-right: 2px solid lightgoldenrodyellow;
    }

    .top-container {
        margin-bottom: 0;
    }

    .bottom-container h2,
    .bottom-container p {
        margin-right: 75px;
    }

    .ideas-media {
        display: flex;
        align-items: center;
    }

    .ideas-media img {
        margin-right: 20px;
    }

    .ideas-media aside {
        max-width: 300px;
    }
}
