:root {
    --primary-color: rgb(234, 118, 23);
    --white: white;
    --secondary-color: rgb(92, 91, 91);
}



body {
    margin: 0;
    font-family: Arial, sans-serif; 
}


.home-content-container {
    padding: 20px;
}

/* Header and site title styles */
#main-header {
    background-color: var(--primary-color);
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#site-title {
    margin: 0;
    font-size: 24px;
}

/* Navigation menu styles */
#nav-items {
    list-style: none;
    padding: 0;
    margin: 0;
    display: none;
}

#nav-items li {
    padding: 15px 0;
}

#nav-items a {
    text-decoration: none;
    color: black;
    display: block;
}

/* Home Page */

.home-column-2 img {
    height: 300px;
    width: auto;
    margin-left: 30px;
}

.home-column-2,
.home-column-1 {
    padding-right: 20px;
}

.home-column-3-top,
.home-column-2,
.home-column-1 {
    border-bottom: 1px solid var(--secondary-color);
    padding-bottom: 20px;
}

.home-column-2 {
    padding-top: 20px;
}

.home-column-3-top img {
    width: 180px;
    height: 150px;
}

.home-column-3-bottom img {
    width:150px;
    height:275px;
}

.player {
    display:flex;
}

.history-container {
    display:flex;
}


/* Player Stats Page */
#team-select {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.player-stats-container h2 {
    text-align: center;
}

select {
    margin: 20px 0;
  }
  table {
    width: 100%;
    border-collapse: collapse;
  }
  th, td {
    border: 1px solid #ddd;
    text-align: left;
    padding: 8px;
  }
  th {
    background-color: #4CAF50;
    color: white;
  }
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  .team-name {
    background-color: #2196F3;
    color: white;
    padding: 10px;
  }


  /* Team Stats Page */

.team-stats-container {
    padding: 20px;
}

.team-stats-container-left {
    margin-right:20px;
}

.team-stats-container-right {
    margin-left: 20px;
}

 #conference-select {
    display: block;
    margin-left: auto;
    margin-right: auto;
 }

  .key-container {
    display:flex;
    justify-content: space-between;
  }


  /* Records Page */
 
.legacies-container {
    padding: 20px;
}

.legacies-container-right {
    margin-left: 20px;
}


  .legacies-container img {
    object-fit: contain;
    max-width: 100%;
  }

  .legacies-container-right-bottom {
    padding: 50px;
  }

  .legacies-button {
    width: 300px;
    height: 100px;
    border-radius: 10%;
    background-color: gray;
    padding: 50px;
  }

  .legacies-button a {
    color: white;
    font-size: 20px;
    text-decoration: none;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;

  }

/* Hamburger menu styles */
#hamburger {
    display: block;
    cursor: pointer;
    padding: 10px;
}

#hamburger div {
    width: 25px;
    height: 3px;
    background-color: black;
    margin: 6px 0;
}

.hide {
    display:none;
}

/* Adjustments for larger resolutions */
@media (min-width: 768px) {
    /* Hides hamburger menu on larger resolutions */
    #hamburger {
        display: none;
    }

    #nav-items {
        display: flex; /* Display nav items in a row */
        align-items: center; /* Aligns nav items vertically */
        justify-content: center; /* Centers nav items horizontally */
    }

    #nav-items li {
        display: inline-block; /* Displays list items in a line */
        margin: 0 15px; /* Adds horizontal margin between nav items */
    }
    
    .home-content-container {
        display: flex;
        margin-right: 50px;
    }

    .home-column-1 {
        width: 60%;
    }
    .home-column-2 {
        width: 30%;
    }
    .home-column-3 {
        width: 40%;
    }

    .welcome {
        display: flex;
        flex-direction: row-reverse;
    }

    .legacies-container {
        display: flex;
      }

    .legacies-container-left {
        width: 50%;
    }

    .home-column-1,
    .home-column-2 {
        border-bottom: 0;
    }
   
      

    
}
