/* General body styling */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(190, 240, 190);
}

/* Header styling */
header {
    background-color: forestgreen;
    color: #ffffff;
    padding: 20px;
    text-align: center;
}

/* Snakes section styling */
#snakes-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
    gap: 20px; 
}

.snake-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: 22%; 
    border-radius: 5px;
    background-color: #fff;
    cursor: pointer;
    text-align: center;
    margin-bottom: 20px;
}

.snake-box h1 {
    font-size: 30px;
}

.snake-box img {
    margin-bottom: 10px;
}

.snake-box:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

/* Ensures consistent image size */
.snake-box img {
    width: 180px;
    height: 280px; 
    object-fit: cover;
    border-radius: 5px;
}

.w3-modal-content {
    border-radius: 10px;
}

.w3-modal-content img {
    width: 200px;
    height: 280px;
}

.w3-button {
    color: #007BFF;
    font-size: 18px;
}
.modal-content-flex {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px; 
}

.modal-text-content {
    max-width: 50%;
}

.modal-image {
    width: auto; 
    max-width: 40%; 
    height: auto; 
    max-height: 280px; 
    object-fit: cover; 
    border-radius: 5px; 
}


@media (max-width: 768px) {
    .snake-box {
        flex-basis: 45%; /* More space for each box on smaller screens */
    }
}

@media (max-width: 480px) {
    .snake-box {
        flex-basis: 90%; /* Full width for very small screens */
    }
}
