:root {
  --primary-color: rgb(234, 118, 23);
  --primary-color-light: rgb(241, 179, 65);
  --white: white;
  --secondary-color: #ada6a6;
  --third-color: #777777;
  --fourth-color: #333333;
  --black: #111111;

}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

header {
  background-color: var(--primary-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

#header-title {
  margin-left: 10px;
}

#main-nav {
  background-color: var(--secondary-color);
}

#nav-items {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: none; /* Hide nav-items by default */
}

#nav-items li {
  padding: 15px 20px;
  text-align: center;
  text-decoration: none;

  
}

#nav-items a {
text-decoration: none;
    color: var(--black);
    display: block;
}
/* Hamburger styling/functionality */
#hamburger {
  padding: 10px;
  cursor: pointer;
}

#hamburger div {
  width: 25px;
  height: 3px;
  background-color: black;
  margin: 6px 0;
  cursor: pointer;
}

#nav-items:not(.hide) {
  display: block; 
}


/* Home Page */

.home-content-container h2 {
  color: var(--primary-color);
}

.home-content-container {
  padding-left: 25px;
  padding-right: 25px;
}
.home-column-2 img {
  height: 300px;
  width: auto;
  margin-left: 30px;
}

.home-column-2,
.home-column-1 {
  padding-right: 20px;
  overflow:hidden;
}

.home-column-3-top,
.home-column-2,
.home-column-1 {
  border-bottom: 1px solid var(--secondary-color);
  padding-bottom: 20px;
}

.home-column-2 {
  padding-top: 20px;
}

.home-column-3-top img {
  width: 180px;
  height: 150px;
}

.home-column-3-bottom img {
  width:150px;
  height:275px;
}

.home-column-3-bottom p {
  margin: auto;
  margin-left: 5px;
  height: auto;
}

.player {
  display:flex;
}

.history-container {
  display:flex;
}



/* Player Stats Page */
#team-select {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.player-stats-container h2 {
  text-align: center;
  color: var(--primary-color);
}

select {
  margin: 20px 0;
}
table {
  width: 100%;
  border-collapse: collapse;
}
th, td {
  border: 1px solid var(--white);
  text-align: left;
  padding: 8px;
}
th {
  background-color: var(--primary-color);
  color: white;
}
tr:nth-child(even) {
  background-color: var(--secondary-color);
}
.team-name {
  background-color: var(--primary-color);
  color: white;
  padding: 10px;
}


/* Team Stats Page */

.team-stats-container {
  padding: 20px;
  display:flex;
  flex-direction: column;
}

.team-stats-container-left {
  margin-right:20px;
}

.team-stats-container-right {
  margin-left: 20px;
}

#conference-select {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.key-container {
  display:flex;
  justify-content: space-between;
}

.team-stats-container {
  margin-top: -20px;
}

.team-stats-container-left h2 {
  color: var(--primary-color);
}

/* Records Page */

.records-box {
  width: auto;
  height: 200px;
  background-color: var(--primary-color-light);
  border: 2px solid var(--black);
  display:flex;
  justify-content: cneter;
  align-items: center;
  text-align: center;

}

.records-box a {
  text-align: center;
  font-weight: bolder;
  margin: auto;
}

.records-container {
  border-bottom: 1px solid var(--black);
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.records-box a {
  color: black;
  text-decoration: none;
  font-size: 28px;
}

.all-time-left {
  border-bottom: 1px solid var(--fourth-color);
}

.all-time-container {
  padding: 10px;
}

.back-button a {
  text-decoration: none;
  color: var(--black);
  font-weight: bolder;
  margin: 10px;
}

.single-game-column h2,
.single-season-column h2 {
  font-size: 30px;
  border-top: 1px solid var(--fourth-color);
  padding-top:5px;
}

.single-game-season {
  padding-left: 40px;
}

.single-game-column p {
  padding-bottom: 30px;
}




/* Legacies Page */

.legacies-container {
  padding: 20px;
}

.legacies-container-right {
  margin-left: 20px;
}


.legacies-container img {
  object-fit: contain;
  max-width: 100%;
}

.legacies-container-right-bottom {
  padding: 50px;
}

.legacies-button {
  width: 200px;
  height: 80px;
  border-radius: 10%;
  background-color: var(--secondary-color);
  padding: 50px;
}

.legacies-button a {
  color: var(--white);
  font-size: 20px;
  text-decoration: none;
  text-align: center;
  display: block;
  margin: 0 auto;
  margin-top: 10px;

}

.player-image {
  width: 100px;
  height: auto;
}



@media screen and (min-width: 768px) {
  header {
      display: flex; /* Use flexbox to align items in a row */
      justify-content: space-between; /* Space between title and nav */
  }

  #hamburger {
      display: none; /* Hide the hamburger menu in full view */
  }

  #main-nav {
      display: block;
  }

  #nav-items {
      display: flex; /* Align nav-items horizontally */
      justify-content: space-evenly;
      align-items: center; /* Center items vertically */
      padding: 0;
      margin-top: 0;
  }

  #nav-items li {
      padding: 15px 20px;
  }

  .home-content-container {
    display: flex;
    margin-right: 50px;
}

.home-column-1 {
    width: 60%;
}
.home-column-2 {
    width: 30%;
}
.home-column-3 {
    width: 40%;
}

.welcome {
    display: flex;
    flex-direction: row-reverse;
}

.legacies-container {
  display: flex;
}

.legacies-container-left {
  width: 50%;
}

.home-column-1,
.home-column-2 {
  border-bottom: 0;
}

.home-column-3-bottom p {
  font-size: 13.5px;
}

.all-time-container {
  display:flex;
  
}

.all-time-left {
  width: 50%;
  border-bottom: 0;
  margin-right: 40px;
}
.all-time-right {
  width:50%;
}

.single-game-container {
  display: flex;
  justify-content: space-evenly;
 
}

.single-game-column {
  border: 1px solid var(--fourth-color);
  padding: 10px;
}

.single-game-column h2 {
  border-bottom: 1px solid var(--fourth-color);
}

}

